@charset "UTF-8";
:root {
  --primary-color:#7FBF34;
  --secondary-color:#24A05F;
  --accent-color01:#FC6256;
  --accent-color02:#FFAD36;
  --base-border-color:#ddd;
  --link-color:#0170b9;
  --link-hover-color:#005288;
  --link-visited-color:#0170b9;
}

.qubely-block-e117a9 .qubely-postgrid .qubely-postgrid-meta {
  margin: 0 0 8px;
}

.qubely-block-e117a9 .qubely-postgrid-category {
  margin: 0 0 8px;
}

.qubely-block-e117a9 .qubely-postgrid-category a {
  color: #7FBF34 !important;
  font-weight: bold;
}

.qubely-block-e117a9 .qubely-postgrid-title a {
  font-weight: bold;
  font-size: 1.2rem;
}

.qubely-block-e117a9 .qubely-post-list-view.qubely-postgrid-style-1 {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
  margin: 0;
}

.qubely-block-e117a9 .qubely-post-list-view.qubely-postgrid-style-1:first-child {
  border-top: 1px solid #e5e5e5;
}

.qubely-block-9005ee .qubely-postgrid-style-2 {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.qubely-block-9005ee .qubely-post-grid-content {
  padding: 20px;
}

.qubely-block-9005ee .qubely-postgrid-title {
  font-size: 20px;
  line-height: 1.3;
  padding: 0 0 10px;
}

.qubely-block-9005ee .qubely-postgrid-meta {
  margin: 0 0 8px;
}

.qubely-block-bf4477 .qubely-postgrid-style-2, .qubely-block-f16369 .qubely-postgrid-style-2, .qubely-block-ea2452 .qubely-postgrid-style-2, .qubely-block-bb754a .qubely-postgrid-style-2, .qubely-block-bb744a .qubely-postgrid-style-2, .qubely-block-49d4dc .qubely-postgrid-style-2, .qubely-block-5ed700 .qubely-postgrid-style-2 {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.qubely-block-bf4477 .qubely-post-grid-content, .qubely-block-f16369 .qubely-post-grid-content, .qubely-block-ea2452 .qubely-post-grid-content, .qubely-block-bb754a .qubely-post-grid-content, .qubely-block-bb744a .qubely-post-grid-content, .qubely-block-49d4dc .qubely-post-grid-content, .qubely-block-5ed700 .qubely-post-grid-content {
  padding: 20px;
}

.qubely-block-bf4477 .qubely-postgrid-title, .qubely-block-f16369 .qubely-postgrid-title, .qubely-block-ea2452 .qubely-postgrid-title, .qubely-block-bb754a .qubely-postgrid-title, .qubely-block-bb744a .qubely-postgrid-title, .qubely-block-49d4dc .qubely-postgrid-title, .qubely-block-5ed700 .qubely-postgrid-title {
  font-size: 18px;
  line-height: 1.3;
  padding: 0 0 10px;
}

.qubely-block-bf4477 .qubely-post-image, .qubely-block-f16369 .qubely-post-image, .qubely-block-ea2452 .qubely-post-image, .qubely-block-bb754a .qubely-post-image, .qubely-block-bb744a .qubely-post-image, .qubely-block-49d4dc .qubely-post-image, .qubely-block-5ed700 .qubely-post-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.qubely-block-bf4477 .qubely-postgrid-category a, .qubely-block-f16369 .qubely-postgrid-category a, .qubely-block-ea2452 .qubely-postgrid-category a, .qubely-block-bb754a .qubely-postgrid-category a, .qubely-block-bb744a .qubely-postgrid-category a, .qubely-block-49d4dc .qubely-postgrid-category a, .qubely-block-5ed700 .qubely-postgrid-category a {
  color: #7FBF34 !important;
  display: block;
  margin: 0 0 8px;
}

.qubely-block-bf4477 .qubely-postgrid-meta, .qubely-block-f16369 .qubely-postgrid-meta, .qubely-block-ea2452 .qubely-postgrid-meta, .qubely-block-bb754a .qubely-postgrid-meta, .qubely-block-bb744a .qubely-postgrid-meta, .qubely-block-49d4dc .qubely-postgrid-meta, .qubely-block-5ed700 .qubely-postgrid-meta {
  margin: 0 0 8px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 1.5em 0;
}

table td, table th {
  padding: 8px;
  border-width: 0 1px 1px 0;
  border: 1px solid #ddd;
}

#post a.ugb-button {
  color: #fff;
}

.blogall {
  margin: 2rem 0 4rem;
}

.p-single__contents a:link {
  color: var(--link-color);
}

.p-single__contents a:visited {
  color: var(--link-visited-color);
}

.p-single__contents a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

#toc_container {
  margin: 30px auto 50px auto;
  width: 100%;
  max-width: 500px;
}

#toc_container .toc_title {
  font-size: 1.1rem;
}

#toc_container .toc_list li {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.c-btn {
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  background: #333;
  padding: 20px 0 18px;
  text-align: center;
  display: block;
  width: 100%;
  max-width: 800px;
  line-height: 1;
  border-radius: 40px;
  text-decoration: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

.c-btn:visited, .c-btn:hover, .c-btn:active {
  text-decoration: none;
}

.c-btn.s-primary {
  background-color: var(--accent-color01);
  color: #fff;
}

.c-btn.s-primary:hover {
  opacity: 0.95;
}

.c-btn.s-secondary {
  background-color: var(--primary-color);
  color: #fff;
}

.c-btn.s-secondary:hover {
  opacity: 0.95;
}

.c-btn.s-normal {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #3293C9;
}

.c-btn.s-normal:hover {
  opacity: 0.95;
}

/*記事内広告訴求枠テキストのみ*/
.inline-cta01 {
  border: 1px solid var(--base-border-color);
  border-width: 1px 0;
  padding: 1rem 0.6rem 0.9rem;
  margin: 1rem 0;
  line-height: 1.35;
}

.inline-cta01-title {
  font-weight: bold;
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
}

.inline-cta01-lead {
  padding: 0;
  font-size: 0.85rem;
  line-height: 1.35;
  color: #555;
  margin: 0 !important;
}

.inline-cta01-link {
  font-size: 1rem;
  position: relative;
  padding: 8px 0 8px 0.8rem;
  display: block;
}

.inline-cta01-link:before {
  width: 9px;
  height: 9px;
  content: "";
  display: block;
  border: 2px solid #ccc;
  border-width: 2px 2px 0 0;
  position: absolute;
  top: 12px;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.inline-cta01-link:hover {
  color: #018fec;
}

/*記事内広告訴求枠画像＆テキスト*/
.inline-cta02 {
  border: 1px solid var(--base-border-color);
  padding: 0;
  margin: 2rem 0;
  line-height: 1.35;
}

.inline-cta02-link {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (max-width: 767px) {
  .inline-cta02-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.inline-cta02-link:hover {
  color: #018fec;
}

.inline-cta02-link:hover .inline-cta02-img {
  opacity: 0.9;
}

.inline-cta02-wrap {
  margin: 0;
  padding: 1.5rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% - 460px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .inline-cta02-wrap {
    width: 100%;
    padding: 1.2rem;
  }
}

.inline-cta02-imgwrap {
  width: 460px;
  height: auto;
  margin: 0;
  background-color: #F1F4E9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .inline-cta02-imgwrap {
    width: 100%;
  }
}

.inline-cta02-img {
  width: 400px;
  height: 250px;
  margin: 1rem 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 767px) {
  .inline-cta02-img {
    max-width: 360px;
    width: 360px;
    height: 210px;
    margin: 1rem;
  }
}

.inline-cta02-title {
  font-weight: bold;
  margin: 0 0 0.8rem;
  font-size: 1.2rem;
}

.inline-cta02-lead {
  padding: 0;
  font-size: 0.9rem;
  line-height: 1.45;
  color: #555;
  margin: 0 !important;
}

.inline-cta02-list {
  font-size: 0.85rem;
  color: #555;
  margin: 0.6rem 0 0;
  list-style-position: inside;
}

.inline-cta02-list-item {
  margin: 0 0 0.3rem;
}

.inline-cta02-btn {
  max-width: 320px;
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  .inline-cta02-btn {
    margin: 1.5rem auto 0;
  }
}
/*# sourceMappingURL=temporary.css.map */