p {
    margin-top: 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.08em;
}

strong {
    font-weight: 600;
}

h2 {
    margin: 40px 0 8px;
    padding-left: 29px;
    position: relative;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.46;
    letter-spacing: 0.05em;
}

h2::before {
    background-color: #7FBF34;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 8px;
    border-radius: 2px;
}

h3 {
    margin-top: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.7;
    letter-spacing: 0.05em;
}

img {
    margin-top: 32px;
}

figcaption {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.08em;
}

.p-single__paper--heads {
    padding: 27px 32px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #D2DFD0;
    margin-top: 60px;
}

h4.p-single__paper--head {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.08em;
}

p.p-single__paper--txt {
    margin-top: 8px;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.67;
    letter-spacing: 0.08em;
}

.p-single__paper--link {
    display: inline-block;
    position: relative;
    padding-left: 18px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.08em;
    color: #24A05F;
    margin-top: 10px;
}

.p-single__paper--link::before {
    background: url('../img/common/arrow-right.svg') no-repeat center center/contain;
    content: '';
    height: 14px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 14px;
}

.p-single__paper--contents {
    margin-top: 33px;
    padding: 24px;
    display: flex;
    align-items: center;
    border: 1px solid #D2DFD0;
    position: relative;
}

.p-single__paper--contents.--02::before {
    background-color: #F3F8F2;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 38.22%;
    z-index: -1;
}

.p-single__paper--img {
    width: 37.5%;
}

.p-single__paper--contents.--02 .p-single__paper--img {
    padding: 12px 30px 12px 0;
}

.p-single__paper--contents img {
    margin-top: 0;
}

.p-single__paper--txts {
    width: 62.5%;
    padding-left: 33px;
}

.p-single__paper--txtHead {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.08em;
    color: #24A05F;
}

.p-single__paper--contents.--02 .p-single__paper--txtHead {
    color: #3D4851;
}

p.p-single__paper--txtTxt {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.08em;
    margin-top: 14px;
}

.p-single__paper--list {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.08em;
    margin-top: 8px;
}

.p-single__paper--list li {
    padding-left: 20px;
    position: relative;
}

.p-single__paper--list li::before {
    content: '・';
    left: 0;
    position: absolute;
    top: 0;
}

.p-single__paper--txts .p-single__paper--btn {
    width: 220px;
    height: 50px;
    box-shadow: none;
    font-size: 18px;
    margin-top: 17px;
}